@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --primary-color: #007af3;
}

html {
  font-family: "Poppins";
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 5rem 2rem;
}

.navbar {
  background: white;
  padding: 2rem;
}

.navbar .logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar span {
  color: var(--primary-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav {
  display: none;
}

.navbar .mobile-menu {
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 2rem;
}

nav ul.primary-nav {
  margin-top: 5rem;
}

nav li a {
  text-align: left;
  font-size: 2rem;
  color: white;
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}

nav li a:hover {
  font-weight: bold;
}

nav .mobile-exit {
  float: right;
  margin: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18rem auto;
        grid-template-columns: 18rem auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 2rem;
    padding: 1rem 1rem;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.go-premium a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 6rem;
    margin-top: -0.2rem;
  }
  .navbar nav li.go-premium a:hover {
    background: var(--primary-color);
    color: white;
  }
}

.hero {
  text-align: center;
}

.hero .left-col .subhead {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .left-col h1 {
  font-size: 3.5rem;
  margin-top: 1.6rem;
}

.hero .left-col .hero-cta {
  font-size: 1.5rem;
}

.hero .left-col .hero-cta .primary-cta {
  background: var(--primary-color);
  color: white;
  padding: 1rem 3rem;
  border-radius: 54px;
  display: inline-block;
  font-weight: bold;
}

.hero .left-col .hero-cta .watch-video-cta {
  color: gray;
  display: block;
  margin-top: 2rem;
}

.hero .left-col .hero-cta .watch-video-cta img {
  margin-right: 1.5rem;
}

.hero .hero-img {
  margin-top: 3rem;
  width: 70%;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10rem 5rem;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3rem 3rem 0 5rem;
  }
  .hero .container .left-col h1 {
    font-size: 3rem;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8rem;
  }
}

section.features-section {
  color: white;
  background: #20272e;
  font-size: 2rem;
}

section.features-section ul.feature-list {
  margin: 0;
  padding-left: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

section.features-section ul.feature-list li {
  margin-bottom: 2rem;
  margin-left: 3rem;
  position: relative;
}

section.features-section ul.feature-list li:before {
  content: "";
  margin-top: 4.3px;
  left: -3rem;
  position: absolute;
  background-image: url("../images/bullet.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
}

section.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.testimonials-section ul li {
  background: #006bd6;
  padding: 4rem 3rem;
  width: 70%;
  margin: 0 auto 5rem auto;
  border-radius: 54px;
}

.testimonials-section ul li img {
  margin-top: -7rem;
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  border: 8px solid #006bd6;
}

.contact-section h2 {
  font-size: 3rem;
  margin-top: 0;
}

.contact-section label {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section input,
.contact-section textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 2rem;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 14px;
  outline: none;
  border: 1px solid grey;
}

.contact-section input[type="submit"] {
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-bottom: 4rem;
  border-radius: 54px;
  padding: 1.5rem 3rem;
  width: unset;
  cursor: pointer;
}

.contact-section iframe {
  width: 100%;
  height: 300px;
}
/*# sourceMappingURL=main.css.map */